name: bench-against-main

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  SQLX_OFFLINE: true

jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - name: Install rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Install hyperfine
        uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2 # v2.1.0
        with:
          repo: sharkdp/hyperfine
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - uses: actions/checkout@v6
        with:
          ref: main
      - name: Build main
        run: cargo build --release --target-dir /var/tmp/main
      - uses: actions/checkout@v6
      - name: Build head
        run: cargo build --release --target-dir /var/tmp/head
      - name: Run benchmarks
        run: |
          cd bench
          ./bench-against-prev-version.sh /var/tmp/main/release/bmm /var/tmp/head/release/bmm
